<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--  别名  -->
    <typeAliases>
        <typeAlias alias="role" type="com.liuh.pojo.Role"/>
    </typeAliases>

    <!--  数据库环境  -->
    <environments default="development">
        <environment id="development">
            <!--  事务配置器  -->
            <transactionManager type="JDBC"/>
            <!--  数据库连接配置 POOLED mybatis 内部提供的连接池  -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/mybatis_learning?useSSL=false&amp;serverTimezone=Hongkong&amp;characterEncoding=utf-8&amp;autoReconnect=true"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <!--  mapper配置文件注册  -->
    <mappers>
        <mapper resource="com/liuh/mapper/RoleMapper.xml"/>
    </mappers>
</configuration>