<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--  属性配置  -->
    <properties resource="jdbc.properties"/>
    <!--    <properties>
            <property name="database.driver" value="com.mysql.jdbc.Driver"/>
            <property name="database.url"
                      value="jdbc:mysql://localhost:3306/mybatis_learning?useSSL=false&amp;serverTimezone=Hongkong&amp;characterEncoding=utf-8&amp;autoReconnect=true"/>
            <property name="database.username" value="root"/>
            <property name="database.password" value="123456"/>
        </properties>-->
    <settings>
        <!--  开启延迟加载  -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--  是否采用层级加载  -->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <!--  别名  -->
    <typeAliases>
        <!--        <typeAlias alias="role" type="com.liuh.pojo.Role"/>-->
        <!--        <typeAlias alias="task" type="com.liuh.pojo.Task"/>-->
        <!--        <typeAlias alias="workCard" type="com.liuh.pojo.WorkCard"/>-->
        <package name="com.liuh.pojo"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="com.liuh.handler.MyTypeHandler" javaType="String" jdbcType="VARCHAR"/>
    </typeHandlers>

    <!--  数据库环境  -->
    <environments default="development">
        <environment id="development">
            <!--  事务配置器  -->
            <transactionManager type="JDBC"/>
            <!--  数据库连接配置 POOLED mybatis 内部提供的连接池  -->
            <dataSource type="POOLED">
                <property name="driver" value="${database.driver}"/>
                <property name="url"
                          value="${database.url}"/>
                <property name="username" value="${database.username}"/>
                <property name="password" value="${database.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--  mapper配置文件注册  -->
    <mappers>
        <!--        <mapper resource="com/liuh/mapper/RoleMapper.xml"/>-->
        <!--        <mapper resource="com/liuh/mapper/TaskMapper.xml"/>-->
        <package name="com.liuh.mapper"/>
    </mappers>
</configuration>